.headerOuter {
  background-color: skyblue;
  height: 100px;
}
.loginSignup {
  cursor: pointer;
}
.loginSignup span {
  color: red;
  margin: 10px 12px;
}
.forgotPassword {
  font-size: 12px;
  color: blue;
  text-align: right;
  cursor: pointer;
  margin-top: 10px;
}
.headerLeft {
  color: red;
  font-size: 25px;
  padding: 30px 25px;
  width: 300px;
  float: left;
}
.headerRight {
  color: navy;
  float: right;
  width: 300px;
  padding: 30px 25px;
  text-align: right;
}
.col {
  background-color: thistle; 
  height:600px;
  width: 25%;
  border-radius: 10px;
}
.col a {
  text-decoration: none;
  color: black;
}

.col h6 {
  text-align: center;
}

.col1 {
  width: 73%;
  margin-left: 1%;
  background-color: whitesmoke;
}

header {
  background-color: rgb(105, 167, 242);

  margin-left: -10.7px;

  margin-right: -4px;

  height: 40px;

  text-align: center;
}

.button {
  padding: 50px;

  text-align: center;

  size: 20px;
}

.button1 {
  padding-top: 15px;

  text-align: center;

  size: 20px;
}

.button2 {
  padding-top: 70px;

  text-align: center;

  size: 20px;
}
